*{
     margin:0;
     padding:0;
}

header  .logo{
     margin:15px;
     width:90px;
}

header .logo img{
     width:90px;
     height:30px;
}

.nav-bar{
     background-color:black;
     height:0;
     transition:0.5s ease;
     border-style:solid none none none;
     border:1px solid black;
     overflow:hidden;
}

.nav-show{
     height:150px;
}

ul li{
     list-style:none;
     text-align:center;
     margin:15px;
}

nav li a{
     text-decoration:none;
     font-size:20px;
     color:white;
     font-family:"trirong",serif;
     transition:0.5s ease;
}

nav li a:hover{
     border:1px solid grey;
     padding:5px;
}

header .menu-btn{
     margin-top:-49px;
}

header .menu-btn .btn{
     width:45px;
     height:35px;
     margin-left:290px;
     transition:0.5s ease;
}

.btn-rotate{
     transform:rotate(90deg);
     border:1px solid grey;
}

.heading{
     text-align:center;
     margin-top:60px;
}

.heading p{
     font-size:25px;
}

.contact-no{
     margin-top:20px;
}

.contact-no a{
     text-decoration:none;
     background-color:black;
     color:white;
     padding:9px;
     font-family:"trirong",serif;
     border-radius:10px;
     border:1px solid grey;
     transition:0.5s ease;
}

.contact-no a:hover{
     background-color:white;
     color:black;
}

.projects{
     margin-top:60px;
}

.intro{
     margin-left:40px;
     margin-top:30px;
}

.intro p{
     font-size:18px;
     font-family: 'Xanh Mono', monospace;
}

.project-1{
     background-color:black;
     width:260px;
     margin-left:50px;
     margin-top:30px;
     box-shadow:1px 3px 3px 3px grey;
}

.project-1 img{
     width:260px;
     
}

.project-1 p{
     color:white;
     font-family:"roboto",sans-serif;
}

.project-2{
     background-color:black;
     width:260px;
     margin-left:50px;
     margin-top:30px;
     box-shadow:1px 3px 3px 3px grey;
}

.project-2 img{
     width:230px;
     margin-left:15px;
     
}

.project-2 p{
     color:white;
     font-family:"roboto",sans-serif;
}

.project-3{
     background-color:black;
     width:260px;
     margin-left:50px;
     margin-top:30px;
     box-shadow:1px 3px 3px 3px grey;
}

.project-3 img{
     width:200px;
     margin-left:30px;
}

.project-3 p{
     color:white;
     font-family: 'Roboto', sans-serif;
}

footer{
     margin-top:30px;
     text-align:center;
}

.about-sec{
     background-color:black;
     width:290px;
     margin-top:50px;
     margin-left:18px;
     padding:15px;
     color:white;
     font-family: 'Xanh Mono', monospace;
     border-radius:18px;
     line-height:30px;
     transition:1s ease;
     transform:translateX(-100%);
     opacity:0;
}

.transi-about{
     transform:translateX(0.5%);
     opacity:1;
}

.contacts{
     height:0;
     overflow:hidden;
     transition:1s ease;
}

.contacts-show{
     height:215px;
}

.contacts h1{
     font-size:25px;
     font-family:"Trirong",serif;
     margin:100px 0 0 40px;
}

.contacts ul{
     display:flex;
     justify-content:center;
     margin-top:30px;
}

.contacts li{
     margin:23px;
     list-style:none;
}

.contacts a{
     text-decoration:none;
     background-color:black;
     color:white;
     padding:10px;
     transition:0.3s ease;
}

.contacts a:hover{
     background-color:white;
     border:1px solid grey;
     color:black;
}

#contact-footer{
     margin-top:140px;
}

.figure img{
     width:350px;
}