ul li{
   list-style:none;
}
a:link{
  text-decoration:none;
  color:white;
  background-color:red;
  padding:10px;
  font-style:italic;
  font-weight:bold;
  font-size:19px;
  margin-left:68px;
}
a:hover{
  background-color:yellow;
  }
body{
  background-color:black;
}
.fg1{
  margin-left:68px;
  }